.main {
  width: 920px;
  margin: 50px auto;
  margin-top: 20px;
}

.main input {
  border: none;
}

.main .logo {
  margin-bottom: 38px;
  border: none;
}

.main .select_departure {
  width: 776px;
  border: 2px solid #1951FC;
  margin: 0px auto;
  margin-bottom: 30px;
  background: #E7EEFF;
}

.main .select_departure li {
  float: left;
  width: 370px;
  height: 54px;
  position: relative;
}

.main .end_departure {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #1054FF;
  border: none;
  font-weight: 600;
  background: #E7EEFF;
}

.main .end_departure.placeholder {
  font-weight: 500;
  color: #1054FF;
}

.main .end_departure:focus {
  border: none;
}

.main .end_departure::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #1054FF;
  font-weight: 500;
}

.main .end_departure:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #1054FF;
  opacity: 1;
  font-weight: 500;
}

.main .end_departure::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #1054FF;
  opacity: 1;
  font-weight: 500;
}

.main .end_departure:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #1054FF;
  font-weight: 500;
}

.main .start_pol:hover,
.main .end_departure:hover {
  background: #dae4fd;
}

.main .select_departure .to_departure {
  width: 36px;
}

.main .select_departure .to_departure a {
  cursor: default;
}

.main .select_departure li a {
  display: block;
  text-align: center;
  line-height: 54px;
  font-size: 14px;
  color: #1951FC;
}

.main .select_departure li.active>a {
  font-weight: 600;
}

.main .select_departure li a:hover {
  background: #dae4fd;
}

.main .select_departure .to_departure a:hover {
  background: #E7EEFF;
}

.main .end_search {
  position: relative;
}

.main .end_search i {
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  color: #333333;
}

.main .end_search i:hover {
  color: #666666;
}

.main .end_router {
  height: 36px;
  width: 100%;
  border: 0px;
  text-indent: 540px;
  line-height: 40px;
  background: #1951FC;
  font-size: 12px;
  color: #ffffff;
  position: relative;
}

.main .end_router img {
  position: absolute;
  top: -6px;
  right: 175px;
}

.main .router_area {
  width: 764px;
  height: 40px;
  overflow: hidden;
}

.main .allPodWithRoute {
  position: absolute;
  width: 764px;
  right: -3px;
  top: 54px;
  z-index: 999;
  background: #ffffff;
  height: 380px;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
}

.main .allPodWithRoute .Route_type li {
  float: left;
  width: 90px;
}

.main .allPodWithRoute .Route_type li a {
  display: block;
}

.main .allPodWithRoute .router_area li {
  float: left;
  width: 90px;
  height: 36px;
  line-height: 36px;
}

.main .allPodWithRoute .router_area li:first-child {
  width: 120px;
}

.main .allPodWithRoute .router_area li a {
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  border-bottom: 1px solid #E9E9E9;
  color: #333333;
  font-weight: bold;
}

.main .allPodWithRoute .router_area li.actived a {
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  border-bottom: 1px solid #ffffff;
}

.main .area {
  width: 120px;
}

.main .area li {
  width: 114px;
  text-align: left;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
  text-indent: 18px;
}

.main .area li:hover,
.main .item li:hover,
.main .allPodWithRoute .router_area li a:hover {
  background: #E7EEFF;
}

.main .area li img {
  height: 14px;
  vertical-align: middle;
  display: none;
}

.main .area li.actived {
  color: #1054FF;
}

.main .area li.actived img {
  display: inline-block;
}

.main .area_ditail {
  width: 100%;
}

.main .item {
  height: 290px;
  width: 640px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main .item li {
  float: left;
  width: 205px;
  text-align: left;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #333333;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .searchPod {
  position: absolute;
  top: 56px;
  z-index: 99;
  background: #ffffff;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  border-top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main .searchPod .content {
  margin: 0 auto;
}

.main .searchPod p {
  background: #1951FC;
  z-index: 999;
  height: 36px;
  line-height: 36px;
  text-indent: 16px;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  min-width: 200px;
}

.main .searchPod p img {
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main .searchPod #searchPod_list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 288px;
}

.main .searchPod #searchPod_list li {
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-indent: 19px;
  color: #151515;
  width: auto;
  float: inherit;
}

.main .searchPod #searchPod_list li:hover {
  background: #E7EEFF;
}

.main .Match_box {
  font-size: 12px;
  color: #666666;
  margin-bottom: 10px;
}

.main .Match_box img {
  margin-right: 5px;
}

.main .Match_box a {
  color: #1951FC;
}

.main .Match_box a:hover {
  text-decoration: underline;
}

.main .Match_box_list {
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
}

.main .Match_box_list .list_item_title {
  font-size: 12px;
  color: #666666;
  background: #f5f5f5;
  padding: 15px 0px 10px 0px;
  padding-left: 52px;
  padding-right: 14px;
}

.main .Match_box_list .list_item {
  position: relative;
  padding-left: 52px;
  padding-right: 8px;
  background: #f5f5f5;
  padding-bottom: 24px;
}

.main .Match_box_list .list_item:last-child {
  padding-bottom: 20px;
}

.main .Match_box_list .list_item .plus {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-image: url('../images/icon_jia_1.png')
}

.main .Match_box_list .list_item .plus:hover {
  background-image: url('../images/icon_jia_2.png')
}

.main .Match_box_list .list_item .mine {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-image: url('../images/icon_jian_1.png')
}

.main .Match_box_list .list_item .mine:hover {
  background-image: url('../images/icon_jian_2.png')
}

.main .Match_box_list .list_item .Cabinet_type,
.main .Match_box_list .list_item_title .Cabinet_type {
  width: 236px;
}

.main .Match_box_list .list_item .Cabinet_num,
.main .Match_box_list .list_item_title .Cabinet_num {
  width: 44px;
  margin-left: 18px;
}

.main .Match_box_list .list_item .Cabinet_Weight,
.main .Match_box_list .list_item_title .Cabinet_Weight {
  width: 127px;
}

.main .Match_box_list .list_item .Cabinet_size,
.main .Match_box_list .list_item_title .Cabinet_size {
  width: 406px;
  margin-left: 20px;
}

.main .Match_box_list .list_item .Cabinet_type li {
  width: 52px;
  height: 44px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-right: 6px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
}

.main .Match_box_list .list_item .Cabinet_type li:last-child {
  margin-right: 0px;
}

.main .Match_box_list .list_item .boxerrors li {
  border: 1px solid #FFD5D5;
  background: #FFD5D5;
}

.main .Match_box_list .list_item .Cabinet_type li:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px #CCC;
  box-shadow: 3px 3px 5px #CCC;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.main .Match_box_list .list_item .Cabinet_type .active {
  background: #ffffff;
  -webkit-box-shadow: 3px 3px 5px #CCC;
  box-shadow: 3px 3px 5px #CCC;
  border: 2px solid #1054FF;
}

.main .Match_box_list .list_item .Cabinet_type li p {
  font-size: 13px;
  text-align: center;
  color: #333333;
  height: 14px;
  line-height: 14px;
}

.main .Match_box_list .list_item .Cabinet_type li p:first-child {
  margin-top: 6px;
  margin-bottom: 4px;
}

.main .Match_box_list .list_item .Cabinet_type .active p {
  color: #1054FF;
  font-weight: bold;
}

.main .Match_box_list .list_item .Cabinet_num input {
  width: 42px;
  height: 44px;
  border: 1px solid #E9E9E9;
  font-size: 12px;
  color: #1951FC;
  text-align: center;
}

.main .Match_box_list .list_item .Cabinet_num.boxQuantityerrors input {
  border: 1px solid #FFD5D5;
  background: #FFD5D5;
}

.main .Match_box_list .list_item .Cabinet_num input:hover {
  border: 1px solid #E9E9E9;
}

.main .Match_box_list .list_item .Cabinet_num input:focus {
  border: 1px solid #1054FF;
}

.main .Match_box_list .list_item .Cabinet_size input {
  width: 70px;
  height: 42px;
  font-size: 12px;
  color: #1951FC;
  text-align: center;
  border: 1px solid #fff;
  border-right: 1px solid #E9E9E9;
}

.main .Match_box_list .list_item .Cabinet_size input:hover {
  border: 1px solid #E7EEFF;
}

.main .Match_box_list .list_item .Cabinet_size input:focus {
  color: #1951FC;
  border: 1px solid #1054FF;
}

.main .Match_box_list .list_item .Cabinet_size input.placeholder {
  color: #AAAAAA;
}

.main .Match_box_list .list_item .Cabinet_size input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #AAAAAA;
}

.main .Match_box_list .list_item .Cabinet_size input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AAAAAA;
  opacity: 1;
}

.main .Match_box_list .list_item .Cabinet_size input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AAAAAA;
  opacity: 1;
}

.main .Match_box_list .list_item .Cabinet_size input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #AAAAAA;
}


/*.main .Match_box_list .list_item .Cabinet_size , .main .Match_box_list .list_item .Cabinet_Weight {
  background: #ffffff;
}*/

.main .Match_box_list .list_item .Cabinet_Weight {
  border: 1px solid #e9e9e9;
}

.main .Match_box_list .list_item .Cabinet_size input:first-child {
  margin-left: 0px;
}

.main .Match_box_list .list_item .Cabinet_Weight input {
  width: 70px;
  height: 42px;
  border: 0px;
  font-size: 12px;
  text-align: center;
  color: #1054FF;
  border: 1px solid #fff;
  border-right: 1px solid #E9E9E9;
}

.main .Match_box_list .list_item .Cabinet_Weight input:hover {
  border: 1px solid #E7EEFF;
}

.main .Match_box_list .list_item .Cabinet_Weight input:focus {
  color: #1054FF;
  border: 1px solid #1054FF;
}

.main .Match_box_list .list_item .Cabinet_Weight input.placeholder {
  color: #AAAAAA;
}

.main .Match_box_list .list_item .Cabinet_Weight input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #AAAAAA;
}

.main .Match_box_list .list_item .Cabinet_Weight input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AAAAAA;
  opacity: 1;
}

.main .Match_box_list .list_item .Cabinet_Weight input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AAAAAA;
  opacity: 1;
}

.main .Match_box_list .list_item .Cabinet_Weight input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #AAAAAA;
}

.main .Match_box_list .list_item .Cabinet_size .Cabinet_item {
  width: 127px;
  border: 1px solid #E9E9E9;
  margin-right: 8px;
}

.main .Match_box_list .list_item .Cabinet_size .Cabinet_item:last-child {
  margin-right: 0px;
}

.main .Match_box_list .list_item .Cabinet_size p,
.main .Match_box_list .list_item .Cabinet_Weight p {
  width: 55px;
  height: 44px;
  line-height: 44px;
  color: #282D37;
  text-align: center;
  font-size: 12px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main .Match_box_list .list_item .Cabinet_size .Company,
.main .list_item .Cabinet_Weight {
  float: right;
  position: relative;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  width: 55px;
  text-align: left;
  font-size: 12px;
  color: #333333;
  background: #ffffff;
}

.main .Match_box_list .list_item .Cabinet_size .Company .Company_list {
  position: absolute;
  top: 50px;
  width: 55px;
  right: 0px;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  display: none;
  z-index: 999;
  background: #ffffff;
}

.main .Company .icon-sanjiaoxing-copy-copy,
.main .Company .icon-sanjiaoxing {
  position: absolute;
  right: 5px;
  font-size: 12px;
}

.main .Company span {
  font-size: 12px;
  color: #333333;
}

.main .Company img {
  position: absolute;
  top: 39px;
  left: 18px;
  display: none;
  z-index: 1000;
}

.main .Cabinet_Weight .Company_list {
  position: absolute;
  top: 53px;
  width: 53px;
  right: 0px;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  display: none;
  z-index: 999;
  background: #ffffff;
}

.main .Match_box_list .list_item .Cabinet_size .Company .Company_list,
.main .Cabinet_Weight .Company_list {
  background-image: url('../images/icon_triangle.png');
  background-repeat: no-repeat;
}

.main .Match_box_list .list_item .Cabinet_size .Company .Company_list li,
.main .Cabinet_Weight .Company_list li {
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

.main .Match_box_list .list_item .Cabinet_size .Company .Company_list li:hover,
.main .Cabinet_Weight .Company_list li:hover {
  background: #E8EDFE;
  color: #1054FF;
}

.main .Match_box_list .list_item .Cabinet_size .Company:hover,
.main .Cabinet_Weight .Company:hover {
  background: #E7EEFF;
  color: #333333;
}

.main .Cabinet_Weight .Company {
  display: block;
  height: 44px;
  line-height: 44px;
  width: 55px;
  text-align: center;
  position: relative;
  font-size: 12px;
}


/*
.main .Match_box_list .list_item .Cabinet_size .Company:hover .Company_list , .main .Cabinet_Weight:hover .Company_list {
  display: block;
}*/

.main .offer {
  width: 220px;
  height: 40px;
  line-height: 40px;
  background: #FF6600;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.main .offer:hover {
  background: #FF7317;
  -webkit-box-shadow: 0 2px 4px 0 #FFC39B;
  box-shadow: 0 2px 4px 0 #FFC39B;
}

.main .other {
  height: auto;
  padding-bottom: 20px;
  margin-bottom: 46px;
  background: #f5f5f5;
  border: 1px solid #eeeeee;
}

.main .other .title {
  height: 15px;
  padding: 15px 0px 10px 139px;
  font-size: 12px;
  color: #666666;
}

.main .other .title p:nth-child(2n) {
  margin-left: 290px;
  margin-right: 216px;
}

.main .other .normal_Cabinet {
  width: 340px;
  border: 1px solid #E9E9E9;
  margin-left: 8px;
  margin-right: 20px;
  background: #ffffff;
}

.main .other .normal_Cabinet li {
  float: left;
  width: 113px;
}

.main .other .normal_Cabinet li:nth-child(2n) {
  width: 112px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.main .other .normal_Cabinet li input {
  width: 53px;
  height: 36px;
  text-indent: 19px;
  border: 1px solid #fff;
  float: left;
  color: #1951FC;
}

.main .other .normal_Cabinet li input:focus {
  color: #1951FC;
  border: 1px solid #1054FF;
}

.main .other .normal_Cabinet li input.placeholder {
  color: #AAAAAA;
}

.main .other .normal_Cabinet li input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #AAAAAA;
}

.main .other .normal_Cabinet li input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AAAAAA;
  opacity: 1;
}

.main .other .normal_Cabinet li input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AAAAAA;
  opacity: 1;
}

.main .other .normal_Cabinet li input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #AAAAAA;
}

.main .other .normal_Cabinet li input:focus {
  color: #1951FC;
}

.main .other .normal_Cabinet li p {
  font-size: 12px;
  color: #333333;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.main .other .hongkong {
  background: #ffffff;
  width: 392px;
  height: 36px;
  border: 1px solid #e9e9e9;
}

.main .other .hongkong li {
  width: 23.9%;
  text-indent: 12px;
  line-height: 38px;
  font-size: 12px;
}

.main .other .hongkong input {
  background-color: #000000;
}

.main .other .calendar {
  width: 137px;
  position: relative;
}

.main .other .calendar .shipmentTime {
  width: 127px;
  height: 36px;
  border: 1px solid #e9e9e9;
  display: block;
  background: #ffffff;
  line-height: 38px;
  font-size: 12px;
  color: #AAAAAA;
  text-align: center;
}

.main .other .calendar .shipmentTime.active {
  color: #1054FF;
}

.main .other .calendar .shipmentTime.active:hover {
  color: #1054FF;
}

.main .other .calendar .shipmentTime:hover {
  background: #E7EEFF;
  color: #AAAAAA;
}

.main .other .kalendar {
  position: absolute;
  top: 45px;
  width: 130px;
  right: 6px;
  border: 1px solid #E9E9E9;
  z-index: 9999;
  background: #ffffff;
  display: block;
  color: #333333;
}

.main .other .kalendar .tli {
  font-size: 14px;
  color: #1054FF;
  position: relative;
}

.main .other .kalendar .tli img {
  position: absolute;
  top: -12px;
  right: 63px;
}

.main .other .kalendar ul {
  width: 100%;
}

.main .other .kalendar ul li {
  float: left;
}

.main .other .kalendar .year_type {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

.main .other .kalendar .year_type .active a {
  border: 1px solid #1054FF;
  color: #1054FF;
}

.main .other .kalendar .year_type li {
  float: left;
}

.main .other .kalendar .year_type li a {
  display: block;
  text-align: center;
  height: 36px;
  line-height: 36px;
  border: 1px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main .other .kalendar .months {
  overflow: hidden;
}

.main .other .kalendar .months ul {
  overflow: hidden;
  width: 100%;
  display: none;
}

.main .other .kalendar .months ul li {
  float: left;
}

.main .other .kalendar .months ul li a {
  text-align: center;
  line-height: 36px;
  border: 1px solid #eee;
  height: 36px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main .other .kalendar .months ul li a:hover {
  color: #1054FF;
}

.main .other .kalendar .months ul li .active {
  border: 1px solid #1054FF;
  color: #1054FF;
}

.main .other .kalendar .months ul li .active a {
  color: #333333;
}

.main .other .kalendar .months .actived {
  display: block;
}

.main .time_ranage {
  overflow: hidden;
}

.main .time_ranage li {
  float: left;
  width: 33.33333%;
}

.main .time_ranage li a {
  text-align: center;
  height: 36px;
  line-height: 36px;
  display: block;
  border: 1px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main .time_ranage li a:hover {
  color: #1054FF;
}

.main .time_ranage li a p {
  font-size: 12px;
}

.main .time_ranage li .active {
  border: 1px solid #1054FF;
  color: #1054FF;
}

.main .sure_kalendar {
  display: block;
  background: #1054FF;
  text-align: center;
  line-height: 36px;
  height: 36px;
  color: #ffffff;
  font-size: 14px;
}

.main .start_departure {
  border: 1px solid #E9E9E9;
  width: 196px;
  position: absolute;
  left: 86px;
  z-index: 999;
  top: 54px;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04);
}

.main .start_departure ul {
  height: 324px;
  width: 196px;
  background-color: #ffffff;
  height: 288px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main .start_departure p {
  background: #1951FC;
  z-index: 999;
  width: 196px;
  height: 36px;
  line-height: 36px;
  text-indent: 16px;
  font-size: 14px;
  color: #ffffff;
  position: relative;
}

.main .start_departure p img {
  position: absolute;
  top: -6px;
  left: 82px;
}

.main .start_departure li {
  width: 196px;
  height: 36px;
  position: relative;
  background-color: #ffffff;
  font-family: PingFangSC-Regular !important;
}

.main .start_departure li input {
  width: 100%;
  border: 0px;
  text-indent: 16px;
  height: 36px;
  line-height: 36px;
}

.main .start_departure li i {
  position: absolute;
  font-size: 16px;
  top: 16px;
  right: 16px;
  cursor: pointer;
  color: #333333;
}

.main .start_departure li i:hover {
  color: #666666;
}

.main .start_departure li a {
  display: block;
  line-height: 36px;
  font-size: 12px;
  text-align: left;
  text-indent: 19px;
  color: #333333;
}

.main .start_departure li a.active {
  color: #1054FF;
}

.main .start_departure li a.disable {
  color: #BBBBBB;
}

.main .errortip {
  background: #FFD5D5;
}

.main .address {
  width: 390px;
  padding-left: 370px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.main .address li {
  font-size: 12px;
  line-height: 24px;
  text-indent: 12px;
}

.main .address li:first-child {
  margin-bottom: 10px;
}

.main .address li input {
  width: 302px;
  height: 22px;
  border: 1px solid #E9E9E9;
  margin-left: 5px;
}

.main .address li input:focus {
  border: 1px solid #1054FF;
}

.main .Match_box_list .list_item .Cabinet_size .errors input {
  border: 1px solid #FFD5D5;
  background: #ffd5d5;
}

.main .Match_box_list .list_item .Cabinet_size .errors input:hover {
  border: 1px solid #E7EEFF;
}

.main .Match_box_list .list_item .Cabinet_size .errors input:focus {
  border: 1px solid #1054FF;
}

.main .Match_box_list .list_item .Cabinet_size .Company.errors {
  background: #FFD5D5;
}

.main .address li .errors {
  border: 1px solid #FFD5D5;
  background: #FFD5D5;
}

.main .other .calendar .errortime {
  border: 1px solid #FFD5D5;
  background: #FFD5D5;
}

.main .Match_box_list .list_item .Cabinet_Weight.errors input {
  border: 1px solid #FFD5D5;
  background: #ffd5d5;
}

.main .Match_box_list .list_item .Cabinet_Weight.errors input:hover {
  border: 1px solid #E7EEFF;
}

.main .Match_box_list .list_item .Cabinet_Weight.errors input:focus {
  border: 1px solid #1054FF;
}

.main .Match_box_list .Cabinet_Weight .Company.errors {
  background: #FFD5D5;
}

.main .Match_box_list .list_item .Cabinet_size input:hover,
.main .Match_box_list .list_item .Cabinet_num input:hover,
.main .Match_box_list .list_item .Cabinet_Weight input:hover {
  background: #E7EEFF;
}

.main .errors_pod,
.main .errors_pol {
  background: #FFD5D5;
}