.offer_view {
  width: 416px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.offer_view img {
  margin-bottom: 20px;
}

.offer_view h4 {
  font-size: 30px;
}

.offer_view .send_mg {
  margin-top: 14px;
  font-size: 16px;
  color: #999999;
  margin-bottom: 30px;
}

.offer_view .send_mg span {
  color: #151515;
}

.offer_view .tips {
  margin-bottom: 10px;
  font-size: 12px;
  color: #999999;
}

.offer_view .sure {
  display: block;
  background: #FF6600;
  color: #ffffff;
  text-align: center;
  width: 220px;
  height: 40px;
  line-height: 40px;
  margin: 0px auto;
}