.register_dialog {
  background: #ffffff;
  width: 620px;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -295px;
  margin-left: -310px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.register_dialog .dialog {
  position: relative;
}

.register_dialog .close {
  position: absolute;
  top: 0px;
  right: -40px;
  cursor: pointer;
}

.register_dialog ul {
  background: #1054FF;
}

.register_dialog ul li {
  float: left;
  width: 50%;
  position: relative;
}

.register_dialog ul li a {
  font-size: 16px;
  padding-top: 36px;
  padding-bottom: 20px;
  display: block;
  color: #ffffff;
}

.register_dialog ul li:first-child a {
  text-indent: 194px;
}

.register_dialog ul li:last-child a {
  text-indent: 84px;
}

.register_dialog ul li img {
  position: absolute;
  bottom: -4px;
  right: 204px;
}

.register_dialog .form .form-group {
  position: relative;
}

.register_dialog .form .form-group .error {
  position: absolute;
  top: 14px;
  right: 120px;
  color: #ff0000;
  font-size: 12px;
}

.register_dialog .form .form-group .tiperror {
  border: 1px solid #ff0000;
}

.register_dialog .form .smsCode .error {
  right: 260px;
}

.register_dialog .form .form-group p {
  height: 42px;
  line-height: 42px;
  width: 92px;
  text-align: right;
  font-size: 14px;
  margin-right: 10px;
  position: relative;
  padding-right: 8px;
}

.register_dialog .form .form-group p span {
  position: absolute;
  right: 0px;
  top: 2px;
}

.register_dialog .next_step {
  background: #FF6600;
  color: #ffffff;
  height: 40px;
  width: 340px;
  margin: 0px auto;
  margin-bottom: 15px;
  display: block;
  line-height: 40px;
  font-size: 16px;
}

.register_dialog .next_step:hover {
  background: #FF7317;
}

.register_dialog .agree,
register_dialog .agree a {
  color: #999999;
  font-size: 12px;
  margin-top: 15px;
}

.register_dialog .form .form-group .zone {
  width: 82px;
  height: 40px;
  margin-right: 8px;
}

.register_dialog .form .form-group .number {
  width: 154px;
  height: 40px;
  margin-right: 8px;
}

.register_dialog .form .form-group .extension {
  width: 82px;
  height: 40px;
}

.register_dialog .agreement:hover {
  text-decoration: underline;
}