.checkphone_form .form-group {
  height: 60px;
  position: relative;
}

.checkphone_form .form-group input {
  text-indent: 16px;
  width: 396px;
  height: 38px;
}

.checkphone_form .form-group .code {
  width: 258px;
  height: 38px;
}

.checkphone_form .form-group .send_code {
  height: 38px;
  width: 126px;
  margin-left: 8px;
  line-height: 38px;
  font-size: 14px;
  border: 1px solid #1054FF;
  color: #1054FF;
}

.submit {
  width: 220px;
  height: 40px;
  display: block;
  margin: 0px auto;
  background: #FF6600;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
}